[submodule "vim/vim.symlink"]
	path = vim/vim.symlink
	url = git@github.com:VerTiGoEtrex/vimrc.git
[submodule "zsh/zprezto.symlink"]
	path = zsh/zprezto.symlink
	url = git@github.com:VerTiGoEtrex/prezto.git
